.card-list-view1{
    width: calc(100%-4em);
    height: 200px;
    /* z-index: 5; */
    color: red;
    position: relative;
    /* top: 65%; */
    margin: 0 2em ;
    padding: 10px 0;
    display: flex;
    align-items: center;
    /* border: black solid 2px; */
    overflow: scroll;
}

.card{
    margin: 0 10px;
    height: 100% ;
    min-width: 150px;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card img{
    object-fit: cover;
    margin: auto;
}