
.preview-box {
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: red;
    overflow: hidden;
  }
  
  .bg-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .transparent-layer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,.3), rgba(0,0,0,.95));
    position: relative;
    z-index: 3;
  }
  .preview-details {
    height: 100%;
    width: 40%;
    /* background-image: linear-gradient(180deg, rgba(0,0,0,.3), rgba(0,0,0,.95)); */
    position: relative;
    /* z-index: 3; */
  }
  .preview-title h1 {
    color: wheat;
    margin: 0;
    
  }
  
  .preview-title{
    margin-left: 1em;
    position: relative;
    width: 100%;
    left: 0;
    top: 30%;
  }
  
  .play-button{
    color: white;
    background-color: #9139e3;
    height: 3rem;
    width: 9rem;
    text-align: center;
    /* padding: auto; */
    line-height: 3rem;
    border-radius: 30px;
    position: relative;
    top:40%;
    left: 2em;
  }