
.preview-box {
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: red;
    overflow: hidden;
  }
  
  .bg-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 20; */
  }

  .transparent-layer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,.3), rgba(0,0,0,.95));
    position: relative;
    z-index: 3;
  }
  .preview-details {
    height: 100%;
    width: 30%;
    /* background-image: linear-gradient(180deg, rgba(0,0,0,.3), rgba(0,0,0,.95)); */
    position: relative;
    /* z-index: 3; */
  }
  .preview-title h1 {
    color: wheat;
    margin: 0;
    text-align: left;
    
  }
  
  .preview-title{
    margin-left: 2em;
    position: relative;
    width: 100%;
    left: 0;
    top: 25%;
  }
  
  .play-button{
    color: white;
    background-color: #9139e3;
    height: 3rem;
    width: 9rem;
    text-align: center;
    /* padding: auto; */
    line-height: 3rem;
    border-radius: 30px;
    position: relative;
    top:30%;
    left: 2em;
  }


.card-section-container{
  width: calc(100% - 4em);
    /* height: 250px; */
    z-index: 5;
    /* background-color: red; */
    /* color: red; */
    position: absolute;
    bottom: 10px;
    margin: 0 2em ;
    /* padding: 10px 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* border: black solid 2px; */
    /* overflow: scroll; */
}